const questions = [
    { type: "text", text: "Name:" },
    { type: "text", text: "Task:" },
    { type: "text", text: "Location:" },
    { type: "text", text: "Date (DD/MM/YYYY):" },
  
    //{ type: "text", text: "Risk Identified and Controls" },
  
    //{ type: "text", text: "Answers to Take 5 questions" },
  
    { type: "yesno", 
        text: "Can I strain or overexert myself?",
        controlOn: "yes",
        controlPrompt: "Describe the control for straining or overexerting yourself:"},
    { type: "yesno", 
        text: "Can I fall from a height?",
        controlOn: "yes",
        controlPrompt: "Describe the control for falling from height:"
     },
    { type: "yesno",
        text: "Can I be trapped/caught by a plant?",
        controlOn: "yes",
        controlPrompt: "Describe the control for being trapped/caught by a plant:"
    },
    { type: "yesno", 
        text: "Can I contact chemicals or ignition sources?",
        controlOn: "yes",
        controlPrompt: "Describe the control for contacting chemicals or ignition sources:"
    },
    { type: "yesno", 
        text: "Can I receive burns (hot/cold)?",
        controlOn: "yes",
        controlPrompt: "Describe the control for receiving burns:"
    },
    { type: "yesno", 
        text: "Is there potential for slip, trip, and fall hazards?",
        controlOn: "yes",
        controlPrompt: "Describe the control for slip, trip, and fall hazards:"
    },
    { type: "yesno", 
        text: "Is there potential for stored energy needing isolation?",
        controlOn: "yes",
        controlPrompt: "Describe the control for stored energy needing isolation:"
     },
    { type: "yesno", 
        text: "Is there potential for sharp edges or rotating parts?",
        controlOn: "yes",
        controlPrompt: "Describe the control for sharp edges or rotating parts:" },
    { type: "yesno", 
        text: "Is there potential for work with radiation sources?",
        controlOn: "yes",
        controlPrompt: "Describe the control for working with radiation sources:"},
    { type: "yesno", 
        text: "Is there potential for unsafe atmospheric conditions?",
        controlOn: "yes",
        controlPrompt: "Describe the control for unsafe atmospheric conditions:"},
    { type: "yesno", 
        text: "Am I prepared if the weather changes?",
        controlOn: "both",
        controlPrompt: "How do I plan on preparing if the weather changes?" },
    { type: "yesno", 
        text: "Am I prepared if my work impacts on others around me?",
        controlOn: "both",
        controlPrompt: "How do I plan on preparing if my work impacts others around me?" },
    { type: "yesno", 
        text: "Am I fit for duty?", 
        controlOn: "no",
        controlPrompt: "You should go home." },
    { type: "yesno", 
        text: "Am I fatigued and in need of a break?",
        controlOn: "yes",
        controlPrompt: "You should take a break." },
    { type: "yesno", 
        text: "Am I trained and authorised?", 
        controlOn: "no",
        controlPrompt: "Please ensure you are trained and authorised." },
    { type: "yesno", 
        text: "Am I following FPR Energy procedures for this task?",
        controlOn: "no",
        controlPrompt: "Please follow FPR Energy procedures for this task." },
    { type: "yesno", 
        text: "Am I aware of site emergency procedures?",
        controlOn: "no",
        controlPrompt: "Please make yourself aware of site emergency procedures." },
    { type: "yesno", 
        text: "Am I working above or below someone?",
        controlOn: "yes",
        controlPrompt: "Describe the control for working above or below someone:" },
    { type: "yesno", 
        text: "Do I have the correct PPE?",
        controlOn: "no",
        controlPrompt: "Please ensure you have the correct PPE." },
    { type: "yesno", 
        text: "Do I need a Risk Management Plan?",
        controlOn: "yes",
        controlPrompt: "Briefly describe the Risk Management Plan:" },
    { type: "yesno", 
        text: "Do I need any work permits?",
        controlOn: "yes",
        controlPrompt: "Please ensure you have obtained the relevant work permits." },
    { type: "yesno", 
        text: "Do I need to restrict access?",
        controlOn: "yes",
        controlPrompt: "Describe the control for restricting access:" },
    { type: "yesno", 
        text: "Do I have safe access & egress?",
        controlOn: "no",
        controlPrompt: "Please ensure you have safe access and egress before continuing." },
    { type: "yesno", 
        text: "Do I have the required MSDS?",
        controlOn: "no",
        controlPrompt: "Please obtain the required MSDS." },
    { type: "yesno", 
        text: "Do I need assistance?",
        controlOn: "yes",
        controlPrompt: "What type of assistance do I need and can I readily obtain it?" },

    { type: "textorno", text: "Any other concerns?" }
  ];